* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background-color: #FFDEAD;
    color: #2E2E2E;
  }
  
  header {
    background-color: #A0522D;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  .grid-produtos {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajuste para melhor comportamento em dispositivos */
  }
  
  .card {
    background: #F4A460;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Garante que o conteúdo se distribua bem no card */
    height: 400px; /* Definição de altura fixa para o card */
  }
  
  .card img {
    width: 100%; /* Garante que a imagem ocupe toda a largura do card */
    height: 200px; /* Definição de altura fixa para a imagem */
    object-fit: cover; /* Corta a imagem se necessário, sem distorcer */
    border-radius: 5px; /* Bordas arredondadas nas imagens */
  }
  
  button {
    margin-top: 10px;
    background-color: #8B4513;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #D2691E;
  }
  
  /* Modal */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #FFF;
    padding: 1.5rem;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    position: relative;
  }
  
  .hidden {
    display: none;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 1.5rem;
  }  